@{
    ViewData["Title"] = "About application";
}
<div class="row">
    <div class="col-md-6">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using: <a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.2"> ASP.NET Core MVC</a></li>
            <li>Client side using:<a href="https://www.javascript.com/">JavaScript, jQuery, CSS</a></li>
            <li>Theming using: <a href="https://getbootstrap.com/">Bootstrap</a></li>
            <li>Real-time implementation using <a href="https://dotnet.microsoft.com/apps/aspnet/real-time">SignalR library</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Twitter APIs</h2>
        <ul>
            <li>
                <a href="https://developer.twitter.com/en/docs/basics/authentication/overview/using-oauth">Authentication using Ouath</a>
                OAuth is used by twitter providing mechanisms for authentication.
                It enables developers to get access to API(s).
            </li>
            <li>
                <a href="https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets">Standard search API</a>
                Returns a collection of relevant Tweets matching a specified query.
                Please note that Twitter's search service and, by extension, the Search API is not meant to be an exhaustive source of Tweets.
                Not all Tweets will be indexed or made available via the search interface.
            </li>
        </ul>
    </div>

</div>
